---
  layout: base
  title: Downloads
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    <div class="cols">
      <div class="col">
        <h1>OpenSCAD</h1>
          <a href="../downloads/openscad/$devdistopenscad">Nightly Distribution</a>
      </div>

      <div class="col">
        <h1>FreeCAD</h1>
          <a href="../downloads/freecad/$devdistfreecad">Nightly Distribution</a>
      </div>

      <div class="col">
        <h1>HTML</h1>
          <a href="../downloads/html/$devdisthtml">Nightly Distribution</a>
      </div>
    </div>
  </div>
</div>
