---
  layout: base
  title: $title
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    <div class="cols">
      <div class="col">
        <h1>$title</h1>
          by: $author<br>
          license: $license<br>
          part of collection: $collection<br>
          identical to: $identical <br>
          status: $status<br>
          standard: $org<br>
          url: $url<br>
          replaces: $replaces<br>
          replacedby: $replacedby<br>
      </div>

      <div class="col">
        <h1>Description</h1>
        $description
      </div>

      <div class="col">
        <h1>Dimensions</h1>
        <table>
          $table
        </table>
      </div>
    </div>
  </div>
</div>
