<table class="table">
  <tr><td><a href="http://hydraraptor.blogspot.co.uk/">nophead</a></td><td>provided inspiration for BOLTS with his Mendel90 and his work sparked my fascination for 3D printers.</td></tr>
  <tr><td><a href="https://github.com/openscad/MCAD">MCAD</a></td><td>served as another source of inspiration.</td></tr>
  <tr><td><a href="http://yorik.uncreated.net/">Yorik van Havre</a></td><td>answered many questions about FreeCAD.</td></tr>
  <tr><td>Marius Kintel</td><td>had some good ideas for BOLTS for OpenSCAD and created OpenSCAD</td></tr>
  <tr><td>shoogen</td><td>helped with some difficult questions about the inner workings of FreeCAD</td></tr>
  <tr><td>Keith Sloan</td><td>helped with making BOLTS for FreeCAD work with python 2.6</td></tr>
</table>
