<div class="col">
  <a href="{{ page.docroot }}freecad/index.html"><h1>FreeCAD</h1></a>
  <ul>
    <li><a href="{{ page.docroot }}freecad/installation.html">How to install BOLTS for FreeCAD</a></li>
    <li><a href="{{ page.docroot }}freecad/toolbar.html">How to create a toolbar button for BOLTS</a></li>
    <li><a href="{{ page.docroot }}freecad/usage.html">How to use BOLTS for FreeCAD</a></li>
    <li><a href="{{ page.docroot }}freecad/basefile.html">How to write a .base file</a></li>
    <li><a href="{{ page.docroot }}freecad/basefunction.html">How to write a base function</a></li>
    <li><a href="{{ page.docroot }}freecad/basefcstd.html">How to setup a base fcstd part</a></li>
    <li><a href="{{ page.docroot }}freecad/drawing.html">How to create a nice drawing</a></li>
</div>
