<div class="col">
  <a href="{{ page.docroot }}general/index.html"><h1>General</h1></a>
  <ul>
    <li><a href="{{ page.docroot }}general/blt-create.html">How to create a new collection for BOLTS</a></li>
    <li><a href="{{ page.docroot }}general/blt-fix.html">How to fix a error in a .blt file</a></li>
    <li><a href="{{ page.docroot }}general/blt-add.html">How to add a part to a collection</a></li>
    <li><a href="{{ page.docroot }}general/git-github.html">How to contribute using the github web interface</a></li>
    <li><a href="{{ page.docroot }}general/git-linux.html">How to contribute using git on Linux (e.g. Ubuntu)</a></li>
</div>
