<div class="col">
  <a href="{{ page.docroot }}openscad/index.html"><h1>OpenSCAD</h1></a>
  <ul>
    <li><a href="{{ page.docroot }}openscad/installation.html">How to install BOLTS for OpenSCAD</a></li>
    <li><a href="{{ page.docroot }}openscad/usage.html">How to use BOLTS for OpenSCAD</a></li>
    <li><a href="{{ page.docroot }}openscad/basefile.html">How to write a .base file</a></li>
    <li><a href="{{ page.docroot }}openscad/basemodule.html">How to write a base module</a></li>
    <li><a href="{{ page.docroot }}openscad/basestl.html">How to setup a base stl</a></li>
    <li><a href="{{ page.docroot }}openscad/bom.html">How to use the BOM mechanism</a></li>
</div>

