<!doctype html>
<html lang="{{ g.lang_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" />
  {% assets 'css' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen">
  {% endassets %}
  <title>{{ page.title }}</title>
</head>
<body>
{% block header %}
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.index') }}">{% trans %}Home{% endtrans %}</a></li>
          <li><a href="{{ url_for('blog.index') }}">{% trans %}Blog{% endtrans %}</a></li>
          <li><a href="{{ url_for('parts.index') }}">{% trans %}Parts{% endtrans %}</a></li>
          <li><a href="{{ url_for('main.docindex') }}">{% trans %}Documentation{% endtrans %}</a></li>
          <li><a href="{{ url_for('main.contribute') }}">{% trans %}Contribute{% endtrans %}</a></li>
          <li><a href="{{ url_for('main.downloads') }}">{% trans %}Downloads{% endtrans %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.lang_code }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for(request.endpoint or 'main.index',lang_code='en',**(request.view_args or {})) }}">{% trans %}English{% endtrans %}</a></li>
              <li><a href="{{ url_for(request.endpoint or 'main.index',lang_code='de',**(request.view_args or {})) }}">{% trans %}German{% endtrans %}</a></li>
              <li><a href="{{ url_for(request.endpoint or 'main.index',lang_code='fr',**(request.view_args or {})) }}">{% trans %}French{% endtrans %}</a></li>
              <li><a href="{{ url_for(request.endpoint or 'main.index',lang_code='es',**(request.view_args or {})) }}">{% trans %}Spanish{% endtrans %}</a></li>
              <li><a href="{{ url_for(request.endpoint or 'main.index',lang_code='sv',**(request.view_args or {})) }}">{% trans %}Swedish{% endtrans %}</a></li>
            </ul>
          </li>
          <li><a class="github" href="https://github.com/jreinhardt/BOLTS">Github</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
{% endblock %}
{% block banner %}{% endblock %}
{% block titlebar %}{% endblock %}
<div class="container">
  {% block content %}{% endblock %}
  {% block footer %}
  <hr>
  <footer id="footer">
    <p>© Johannes Reinhardt, {% trans %}title image by <a href="https://www.flickr.com/photos/dkpphotography/9468970843">Dhruv Patel</a>, theme based on a <a href="https://github.com/Wolfr/cactus-jekyll-theme">design</a> by <a href="http://wolfslittlestore.be">Wolf's Little Store</a>{% endtrans %}</p>
  </footer>
  {% endblock %}
</div>
{% block comments %}
<script type="text/javascript" class="juvia">
(function() {
    var options = {
        container    : '#comments',
        site_key     : 'i2tzqcns7cm0alygsdvh9fhyfe2g0u1',
        topic_key    : location.pathname,
        topic_url    : location.href,
        topic_title  : document.title || location.href,
        comment_order: 'latest-first'
    };

    function makeQueryString(options) {
        var key, params = [];
        for (key in options) {
            params.push(
                encodeURIComponent(key) +
                '=' +
                encodeURIComponent(options[key]));
        }
        return params.join('&');
    }

    function makeApiUrl(options) {
        // Makes sure that each call generates a unique URL, otherwise
        // the browser may not actually perform the request.
        if (!('_juviaRequestCounter' in window)) {
            window._juviaRequestCounter = 0;
        }

        var result =
            '//j.stbuehler.de/api/show_topic.js' +
            '?_c=' + window._juviaRequestCounter +
            '&' + makeQueryString(options);
        window._juviaRequestCounter++;
        return result;
    }

    var s       = document.createElement('script');
    s.async     = true;
    s.type      = 'text/javascript';
    s.className = 'juvia';
    s.src       = makeApiUrl(options);
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(s);
})();
</script>
{% endblock %}
{% assets 'js' %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
