// Framework imports
@import "compass/css3";
@import "susy";

// Variables and mixin
@import "site/vars";
@import "site/mixins";

// Normalize
@import "site/normalize";

// Components
@import "components/table";
@import "components/bordered-list";
@import "components/nav";
@import "components/pygments"; // code highlighting styles

// Regular imports
@import "site/fonts";
@import "site/grid";
@import "site/image_alignment";
@import "site/blog";


body {
  margin: 0;
  padding: 0;
  
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  
}

// Utils

.accessible-text {
  position: absolute;
  top: -9000px;
  left: -9000px;
}

// Typography

.page-title-bar {
  background: $light-bg;

  .inner-content {
    @include container;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  h2 {
    @include display-font;
    text-transform: none;
    font-size: 32px;
  }
}

p, h4 {
  margin: 6px 0;
}

hr {
  border: none;
  border-bottom: 1px solid $light-bg;
  margin: 18px 0;
}

h1, h2 {
  color: #000;
  line-height: 1.1;
}

h3 {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  margin: 12px 0;
}

h4 {
  color: #000;
}

a {
  @include default-links;
}

pre {
  padding: 10px;
  margin: 0 0 1px;
  font-size: 12px;
  @include border-radius(4px);
  background: $light-bg;
  line-height: 1.3;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
  & + pre {
    border-bottom-radius: 4px;
  }
}

.help-text {
  color: $muted-text;
  font-size: 11px;
}

// main layout


#header {
  background: $dark-bg;
  // Nice transitions
  a {
    transition-property: background, box-shadow;
    transition-duration: 0.18s;
  }
  #social {
    float: right;
    color: lighten($dark-bg, 30%);
    @media all and(max-width: $break-medium) {
      // Hide longer copy on medium sized screens
      span {
        display: none;
      }
    }
    @media all and(max-width: $break-small-medium) {
      // Hide gh button altogether on small sized screens
      display: none;
    }
  }
  #social a {
    margin: 10px 0 10px 5px;
    border: none;
    color: #FFF;
    padding: 10px 15px;
    display: inline-block;
    background: lighten($dark-bg, 10%);
    border-radius: 3px;
    &:hover,
    &:focus {
      background: darken($dark-bg, 20%);
      @include box-shadow(0 0 0 2px #FFF);
    }
  }
}

// nav in header
#nav {
  padding: 10px 0;
  float: left;
  a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    margin-right: -4px; // fix inline block spacing
    &:link,
    &:visited {
      border: none;
      border-right: 1px solid lighten($dark-bg, 10%);
    }
    &:hover,
    &:active,
    &:focus,
    &.active {
      background: lighten($dark-bg, 10%);
    }
    &:last-child {
      border-right: none;
    }
  }
}

#banner {
  // Cactus
  background: #1E2A28 url(../images/2.jpg) center center;

  @include background-size('cover');
  margin: 0 0 20px;
  padding: 20px 0;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.5);
  }
  .inner-content {
    @include container;
  }
  .copy {
    position: relative;
    z-index: 1;
  }
  h1 {
    @include display-font;
    font-size: 110px;
    line-height: 0.9;
    color: #FFF;
  }
  .intro {
    font-size: 21px;
    color: #FFF;
    line-height: 1.33;
    margin: 0;
    @include opacity(0.75);
  }

  // Offset
  .btn, .intro {
    margin-left: 4px;
  }
  img {
    margin-top: 20px;
  }
  .img-holder {
    display: none;
  }
  @media all and (min-width: $break-large) {
    &:after {
      content: none;
    }
    height: 303px;
    padding: 0;
    .copy {
      background: #000;
      background: rgba(0,0,0,0.5);
      padding: 20px;
      margin-top: 40px;
      @include span-columns(4,8);
    }
  }
}

#footer {
  border-top: 1px solid $light-bg;
  margin: 0 auto;
  padding: 12px 0;
  color: $muted-text;
  overflow: hidden;
  a {
    @include muted-links;
  }
  @media all and (min-width: $break-large) {
    p.first-child {
      float: left;
    }
    p.last-child {
      float: right;
    }
  }
}

// columns on home

.cols {
  margin: 0 0 20px;
  overflow: hidden; // clearing
  h3 {
    margin: 12px 0 4px;
  }
  @media all and (min-width: 500px) {
    .col {
      @include span-columns(3);
    }
    .col:last-child {
      @include omega;
    }
  }
}

// page with subnav

.page-type-subnav {
  #subnav {
    h4 {
      margin-top: 0;
      margin-bottom: 4px;
    }
    ul {
      padding: 0;
      margin-top: 0;
    }
  }
  #content {
    article {
      font-size: 14px;
    }
    h2 {
      margin-top: 0;
    }
  }
}

@media all and (max-width: $break-medium - 1) {
  #subnav {
    padding: 12px 20px 0;
  }
  .page-type-subnav #content {
    padding: 0 20px 12px 20px;
  }
}

// Layout
@media all and (min-width: $break-medium) {

  .page-type-subnav {
    @include container;
    #subnav {
      @include span-columns(1);
      margin: 32px 0 0;
      h4 {
        margin-top: 0;
        margin-bottom: 4px;
      }
      ul {
        padding: 0;
        margin-top: 0;
      }
    }
    #content {
      @include span-columns(5);
      @include omega;
      article {
        max-width: 740px;
        font-size: 14px;
        padding: 20px;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
}


// 404
#error404 {
  background: $light-bg;
  text-align: center;
  padding: 40px;
}

// Fluid vids
.video-wrapper {
  position: relative;
  padding-bottom: 66.67%; /* 3:2 */
  &.aspect-16-9 {
    padding-bottom: 56.25%; /* 16:9 */
  }
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
