{% extends "base.html" %}
{% block titlebar %}
<div class="page-title-bar">
  <div class="container">
    <h2>{% trans %}Search{% endtrans %}</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<label>{% trans %}Search the BOLTS website{% endtrans %}</label>

<form class="form-search" method="POST" action="{{ url_for('search.search_page') }}">
{{ form.csrf_token }}
{{ form.query(size=20,value=query) }}
<input type="submit" class="btn btn-primary" value="Go">
</form>

{% if not results is none %}
<div class="rows">
  <div class="col-xs-12 col-md-6">
    <h2>{% trans %}Part results{% endtrans %}</h2>
    {% if results.parts %}
    <table class="table table-striped table-bordered">
      <tbody>
      <tr><th>{% trans %}Page{% endtrans %}</th><th>{% trans %}Category{% endtrans %}</th></tr>
      {% for result in results.parts %}
      <tr><td><a href="{{ result.url }}">{{ result.title }}</a></td><td>{{ result.category | capitalize }}</td></tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2>No results found</h2>
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-6">
    <h2>{% trans %}Documentation results{% endtrans %}</h2>
    {% if results.docs %}
    <table class="table table-striped table-bordered">
      <tbody>
      <tr><th>{% trans %}Page{% endtrans %}</th><th>{% trans %}Version{% endtrans %}</th></tr>
      {% for result in results.docs %}
      <tr><td><a href="{{ result.url }}">{{ result.title }}</a></td><td>{{ result.version }}</td></tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2>No results found</h2>
    {% endif %}
  </div>
</div>
{% else %}
<h2>No results found</h2>
{% endif %}
{% endblock %}
