
{% extends "base.html" %}

{% block titlebar %}
  <div class="page-title-bar">
    <div class="container">
      <h2>Public Domain</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
<div id="row">
  <div class="col-xs-12 col-md-6">
    <h2>What is the public domain?</h2>
    <p>This is a rather complicated legal question, that I do not feel qualified to answer. Instead I refer you to the <a href="http://opensource.org/faq#public-domain">explanation provided by the Open Source Initiative</a></p>
  </div>
  <div class="col-xs-12 col-md-6">
    <h2>Shall I put material for BOLTS into the public domain?</h2>
    <p>No, if you created material and want it included in BOLTS, I recommend to put it under a explicit license. If you do not want to keep any rights on the material, <a href="http://creativecommons.org/about/cc0">Creative Commons Zero</a> is a good choice.</p>
  </div>
</div>
{% endblock %}
