---
  layout: base
  title: $title
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    <table>
      $properties
    </table>
  </div>

  <div class="inner-content">
    <h1>Drawing</h1>
    <img width="100%" src="../drawings/$drawing"/>
  </div>

  <div class="inner-content">
    <h1>Description</h1>
    $description
  </div>

  <div class="inner-content">
    <h1>FreeCAD</h1>
    <table class="table">
      $freecad
    </table>
  </div>

  <div class="inner-content">
    <h1>OpenSCAD</h1>
    <table class="table">
      $openscad
    </table>
      $openscadincantation
  </div>

  <div class="inner-content">
    <h1>Dimensions</h1>
    <table class="table">
      $dimensions
    </table>
  </div>
</div>
