---
  layout: base
  title: $title
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    by: $author<br>
    license: $license<br>
    part of collection: $collection<br>
    identical to: $identical <br>
    status: $status<br>
    standard: $body<br>
    url: $url<br>
    replaces: $replaces<br>
    replacedby: $replacedby<br>
  </div>

  <div class="inner-content">
    <h1>Drawing</h1>
    <img src="../../drawings/$drawing.png"/>
  </div>

  <div class="inner-content">
    <h1>Description</h1>
    $description
  </div>

  <div class="inner-content">
    <h1>Dimensions</h1>
    <table class="table">
      $dimensions
    </table>
  </div>
</div>
