---
  layout: base
  title: Possibilities for contribution
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    <h1>Bases</h1>
    <p> For some classes a backend specific geometry is missing for one or more CAD packages.
    <table class="table">
      $basetable
    </table>
  </div>

  <div class="inner-content">
    <h1>Drawings</h1>
    <p> For some classes a drawing is missing that gives a visual overview over the part and clarifies the meaning of the parameters.
    <table class="table">
      $missingdrawings
    </table>
    <p> For other classes no svg version of the drawing is available.
    <table class="table">
      $missingdrawingssvg
    </table>
  </div>

  <div class="inner-content">
    <h1>Unsupported licenses</h1>
    <p> For some classes a unsupported license name and/or url was found. Often this is the result of typos. Check with the list in the specifications to idnetify these cases. If the license is not on the list, try contact all the copyright holder of the file and ask them to relicense this file under one of the supported licenses, or remove the file.
    <table class="table">
      $unsupportedlicenses
    </table>
  </div>
</div>
