{% extends "blog.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-8 blog-main">
    {% for post in posts %}
    <div id="blog-post">
      <h2 class="blog-post-title"><a href="{{ url_for('blog.post',**post.url_values) }}">{{ post.title }}</a></h2>
      <p class="blog-post-meta">Posted on {{ post.date | datetimeformat }} by {{ post.author }}</p>

      {{ post.teaser | markdown_blog }}

      <p><a href="{{ url_for('blog.post',**post.url_values) }}">Read more</a></p>
    </div>
    {% endfor %}
    <hr>
    <p>Older posts can be found in the <a href="{{ url_for('blog.archive') }}">Blog archive</a>.</p>
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module">
      <h4>Welcome to the BOLTS blog</h4>
      <p>The latest and greatest on BOLTS. <a href="{{ url_for('blog.feed') }}">Subscribe the RSS feed</a> for updates.</p>
    </div>

    <div class="sidebar-module">
      <h4>Post archive</h4>
      <p>View all posts in the <a href="{{ url_for('blog.archive') }}">Blog archive</a>.</p>
    </div>
  </div>
</div>
{% endblock %}

