
{% include head.html %}
<body>
  <script type="text/javascript" class="juvia">
  (function() {
      var options = {
          container    : '#comments',
          site_key     : 'ohhwmpfhyi2olb7tpe20roqcc5qznm8',
          topic_key    : location.pathname,
          topic_url    : location.href,
          topic_title  : document.title || location.href,
          comment_order: 'latest-first'
      };

      function makeQueryString(options) {
          var key, params = [];
          for (key in options) {
              params.push(
                  encodeURIComponent(key) +
                  '=' +
                  encodeURIComponent(options[key]));
          }
          return params.join('&');
      }

      function makeApiUrl(options) {
          // Makes sure that each call generates a unique URL, otherwise
          // the browser may not actually perform the request.
          if (!('_juviaRequestCounter' in window)) {
              window._juviaRequestCounter = 0;
          }

          var result =
              '//j.stbuehler.de/api/show_topic.js' +
              '?_c=' + window._juviaRequestCounter +
              '&' + makeQueryString(options);
          window._juviaRequestCounter++;
          return result;
      }

      var s       = document.createElement('script');
      s.async     = true;
      s.type      = 'text/javascript';
      s.className = 'juvia';
      s.src       = makeApiUrl(options);
      (document.getElementsByTagName('head')[0] ||
       document.getElementsByTagName('body')[0]).appendChild(s);
  })();
  </script>


  {% include header.html %}
  <div class="page-title-bar">
    <div class="inner-content">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <div class="page-type-subnav">

    <div id="content">
      <article>
    <h1>Website migration</h1>
    <p>BOLTS has a <a href="http://www.bolts-library.org">new website</a>. You will be redirected to the new site in 30 seconds. Please update your bookmarks and consider changing links you have might have published that attract a lot of traffic.</p>
    <p>The new site offers many new features including</p>
      <ul>
        <li>Internationalisation (in progress): BOLTS will be available in different languages. <a href="https://weblate.stbuehler.de/projects/BOLTS/">Help with translating here</a>.
        <li>Responsive design: The site is now usable also with tablets and mobile devices</li>
        <li>Search: Quickly find what you are looking for with the new <a href="http://www.bolts-library.org/en/search">search feature</a>.</li>
      </ul>
   
      <p>If the redirect doesn't work, please click on this link <a href="http://bolts-library.org/en/docs/index.html">http://bolts-library.org/en/docs/index.html</a></p>
      </article>
    </div>
  </div>

  {% include footer.html %}

  {% include piwik.html %}
</body>
</html>
