---
  layout: base
  title: Downloads
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div id="content">
  <div class="inner-content">
    <div class="cols">
      <div class="col">
        <h1>Current stable Release</h1>
        <h3>FreeCAD</h3>

        <table>
          $freecadrelease
        </table>

        <h3>OpenSCAD</h3>
        <table>
          $openscadrelease
        </table>

      <div class="col">
        <h1>Development Snapshots</h1>
        <h3>FreeCAD</h3>

        <table>
          $freecaddevelopment
        </table>

        <h3>OpenSCAD</h3>
        <table>
          $openscaddevelopment
        </table>
      </div>
    </div>
  </div>
</div>
