{% extends "base.html" %}

{% block titlebar %}
  <div class="page-title-bar">
    <div class="inner-content">
      <h2>Blog</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
<div id="blog">
  <div id="blog-content">
    {% for post in posts %}
    <article>
      <header>
        <h1><a href="/blog/{{ post.url }}">{{ post.title }}</a></h1>
        <p>Posted on {{ post.date | datetimeformat }} by {{ post.author }}</p>
      </header>
      <div class="entry-content">
        {{ post.teaser | markdown_blog }}
        <p><a href="/blog/{{ post.url }}">Read more</a></p>
      </div>
    </article>
    {% endfor %}
    <p>Older posts can be found in the <a href="{{ url_for('.archive') }}">Blog archive</a>.</p>
  </div>
  <div id="blog-nav">
    <h4>Welcome to the BOLTS blog</h4>
    <p>The latest and greatest on BOLTS. <a href="{{ url_for('.feed') }}">Subscribe the RSS feed</a> for updates.</p>

    <h4>Post archive</h4>
    <p>View all posts in the <a href="{{ url_for('.archive') }}">Blog archive</a>.</p>
  </div>
</div>
{% endblock %}
