{% extends "blog.html" %}

{% block content %}
<div id="blog">
  <div id="blog-single">
    <article>
      <header>
        <h1><a href="/blog/{{ post.url }}">{{ post.title }}</a></h1>
        <p>Posted on {{ post.date }} by {{ post.author }}
        {%- if not post.updated is none -%}
        , last update {{ post.updated }}
        {%- endif %}</p>
      </header>
      <div class="entry-content">
        {{ post.content | markdown_blog }}
      </div>
    </article>

    <div id="comments"></div>
  </div>
</div>
{% endblock %}

